.container {
  display: flex;
  width: 100vw;
  height: 95vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerLogin {
  width: 20%;
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.containerLogin p {
  color: #424242;
}

.formLogin {
  width: 80%;
  min-height: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}

.formLogin input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #bebebe;
}

.button {
  margin-top: 10px;
  background-color: rgb(1, 34, 105);
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.buttonDeslogar {
  margin-top: 10px;
  background-color: rgb(1, 34, 105);
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  width: 50%;
  cursor: pointer;
}

.containerCadastro {
  width: 65%;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
