.containerLogin {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formLogin {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
}

.formLogin button {
  margin: 15px;
}

.botaoCadastro {
  font-size: 1rem;
  margin: 15px;
  padding: 5px;
}
