.container {
  display: flex;
  width: 100vw;
  height: 95vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerCadastro {
  width: 25%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 2rem;
}

.containerCadastro p {
  color: #424242;
}

.formCadastro {
  width: 100%;
  min-height: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.formCadastro input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #bebebe;
}

.formCadastro label {
  margin: 5px;
}

.button {
  width: 80%;
  margin: 10px auto;
  background-color: rgb(1, 34, 105);
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.buttonVoltar {
  width: 50%;
}
